@font-face {
   font-family: 'Futura PT';
   src: url('../../fonts/FuturaPT-Light.eot');
   src: url('../../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
   url('../../fonts/FuturaPT-Light.woff') format('woff'),
   url('../../fonts/FuturaPT-Light.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
   }

@font-face {
   font-family: 'Futura PT';
   src: url('../../fonts/FuturaPT-Book.eot');
   src: url('../../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
   url('../../fonts/FuturaPT-Book.woff') format('woff'),
   url('../../fonts/FuturaPT-Book.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
   }

@font-face {
   font-family: 'Futura PT';
   src: url('../../fonts/FuturaPT-Bold.eot');
   src: url('../../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
   url('../../fonts/FuturaPT-Bold.woff') format('woff'),
   url('../../fonts/FuturaPT-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
   }