.hi {
   padding: 145px 0 240px 0;
   background: url(../../img/animals.png) left bottom / auto no-repeat,
   url(../../img/bird.png) right bottom / auto no-repeat #F9F8F8   ;
}
.hi__wrapper{
   padding-left: 48%;
}
.hi__title {

   font-weight: 700;
   font-size: 70px;
   line-height: 64px;
   margin-bottom: 30px;
   color: #78C0DE;
}
.hi__title strong{
   color: #333333;
}
.hi__descr {
   width: 495px;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;color: #949494;
   margin-bottom: 40px;
}
.hi__btn {
   padding: 15px 47px;

background: #333333;
border-radius: 3px;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #FFFFFF;
}